<section class="section achievement-section">
  <h2 class="section-title"><i class="fa fa-trophy"></i>Achievements</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="award-title">Regent Scholorship</h3>
        <div class="time">2015 - 2017</div>
      </div>
      <!--//upper-row-->
      <div class="organization">University of California, Irvine</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        The Regents' Scholarship is the most distinguished merit scholarship
        awarded by the University of California to highly selective outstanding
        students. The faculty has chosen students for this prestigious honor
        based upon students' academic achievements, significant accomplishments
        and leadership.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="award-title">
          Bob &amp; Barbara Kleist Endowed Student Award
        </h3>
        <div class="time">2015 - 2016</div>
      </div>
      <!--//upper-row-->
      <div class="organization">
        Donald Bren School of Information and Computer Sciences
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        The Bob and Barbara Kleist Endowment was established through the
        generous donation from Bob and Barbara Kleist themselves. This award is
        designated to support undergraduate students who have transferred to UCI
        from a community college and who are preparing for a career in the
        computer science field. Students must have a declared major in the
        Donald Bren School of Information and Computer Sciences.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->
</section>
<!--//section-->
