<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Math and Computer Science tutor</h3>
                            <div class="time">August 2014 - June 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Mt. San Antonio College, Walnut, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Teaching calculus and linear algebra.</p>  
                        <p>Helping Computer Science classes materials.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">President of Volunteer</h3>
                            <div class="time">Augus 2013 - June 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Inland Disability Center, Pomona, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Organize and manage as the director of the center that provided a weekly Sunday service for people with physical and mental disabilites.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">1st Chair Clarinet</h3>
                            <div class="time">August 2013 - December 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Chamber Winds at Mt. San Antonio College, Walnut, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Performance in performing Arts Center each semester.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sergeant</h3>
                            <div class="time">May 2010 - March 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Republic of Korea Army</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Served in the Republic of Korea army as a field artillery soldier in charge of the technique and procedure of the manual cannon.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->