<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>If you want to see the details for projects, please click the tiltes. Also, more projects in github.</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="http://kooli.tv/?lang=en">KOOLi Curator</a></span>
                    <ul>
                        <li>Developing an android mobile & OS app that curates YouTube live broadcasting</li>
                        <li>Used REST architecture with Node.js and Express.js framework </li>
                        <li>Implemented Bash script to refresh the JSON file </li>
                        <li>Android, Java, ExoPlayer, Python, Bash script, Node.js, Express.js, AWS, Postman</li>
                    </ul>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.helpmeyelp">HelpMeYelp</a></span>
                    <ul>
                        <li>Developed an android app where people can narrow their restaurant choices by using Yelp fusion (v3) API with 3 group members</li>
                        <li>The application allows user to make the choice of their muu, then vote for whter should they get food</li>
                        <li>Designed the filter feature and Yelp fusion (v3) API with OAuth 2.0 to retrieve the restaurants' data</li>
                        <li>Java, Yelp fusion (v3) API, Android, Postman</li>
                    </ul>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="http://themrpill.com" target="_blank">Mr. Pill</a></span> 
                    <ul>
                        <li>Creating a device that improves users work efficiency by indicating when calls, messages etc. are received and using varieties of colors that constantly blinks until the person clicks the reset button</li>
                        <li>Built a prototype using Arduino 101 and multicolor LED</li>
                        <li>C, Arduino IDE, objective-C, Xcode</li>
                    </ul>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Fabflix</a></span>
                    <ul>
                    <li>A full-stack online movie sales and streaming website implemented as a Java web application and an Android application</li>
                        <li>Imported XML data files into the application database by using DOM &amp; SAX parser</li>
                        <li>Used MySQL for database and connected via JDBC and deploy on AWS</li>
                        <li>Developed an Android Application for the application</li>
                        <li>Java, JDBC, JavaScript, Html/CSS, XML, JSP, IntelliJ, AWS, MySQL, Android</li>
                        </ul>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="https://devpost.com/software/aimhigh" target="_blank">AimHigh</a></span>
                    <ul>
                    <li>Modeled a web application that motivates people to keep exercising with gamified group online activities with three other group members</li>
                        <li>Worked on the front-end of the main page and back-end for the data retrieval with MongoDB</li>
                        <li>Python, Html/CSS, Bootstrap, MongoDB, Meteor</li>
                        </ul>
                </div><!--//item-->
                
            </section><!--//section-->