<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>If you want to see the detail click the tilte. More projects in github.</p>
                </div><!--//intro-->
                
                <div class="item">
                    <span class="project-title"><a href="#hook">Food Game</a></span>

                    <span class="project-tagline">
                    <ul>
                    <li>Developed an android app where people can narrow their restaurant choices by using Yelp fusion (v3) API with 4 group members</li>>The application allows user to make the choice of their muu, then vote for whter should they get food<li>Designed the filter feature and Yelp fusion (v3) API with OAuth 2.0 to retrieve the restaurants' data
                    </li>>
                    </ul>
                    </span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="http://themrpill.com" target="_blank">Mr. Pill</a></span> - 
                    <span class="project-tagline">A device that improves people's work efficiency. </span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Fabflix</a></span> - <span class="project-tagline">A full-stack online movie sales and streaming website implemented as a Java web application with a MySQL back-end on an AWS instance.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="https://devpost.com/software/aimhigh" target="_blank">AimHigh</a></span> - <span class="project-tagline">A web applicaton that motivates people to keep exercising with gamified group online activities. </span>
                </div><!--//item-->
                
            </section><!--//section-->