<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">C &amp; C++</h3>                      
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">C# &amp; .NET framework</h3>                      
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Java</h3>                      
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Swift</h3>                      
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML &amp; CSS</h3>                      
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">JavaScript &amp; JQuery</h3>                      
                    </div><!--//item-->
                    
                     <!-- <div class="item">
                        <h3 class="level-title">Sketch &amp; Photoshop</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>                                      
                        </div>                                 
                    </div> -->
                    
                </div>  
            </section><!--//skills-section-->